body, html {
  color: rgba(255, 255, 255, 0.9); }

.selector-for-some-widget {
  box-sizing: border-box; }

.nav.nav-tabs {
  margin-top: 20px;
  text-align: center;
  border-bottom-color: #990000; }

.nav-item.nav-link.active {
  border-top-color: #990000;
  border-left-color: #990000;
  border-right-color: #990000;
  border-bottom: none;
  color: #990000;
  background-color: #cc0000;
  color: rgba(255, 255, 255, 0.9); }

#nav-objects-tab {
  background-color: #cc0000;
  color: #ffffff;
  border: 0.5px solid #cc0000;
  margin-right: 37px;
  width: 150px;
  border-bottom: none; }

a {
  color: #cc0000; }

a:hover {
  color: #990000; }

.tab-content {
  border-bottom: 0.5px solid #990000;
  border-left: 0.5px solid #990000;
  border-right: 0.5px solid #990000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 85vh;
  background: linear-gradient(to bottom, #ff3300 1%, #003300 135%);
  padding: 30px; }

.badge.badge-warning {
  cursor: pointer; }

.arrow {
  visibility: hidden; }

.tooltip-inner {
  background-color: #ffcc00;
  color: #000000; }

.input-group-addon.basic {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  background: linear-gradient(to bottom, #ffff66 0%, #ff9900 100%);
  border: none; }

.form-control.basic {
  border-radius: 0;
  background: linear-gradient(to bottom, #404040 0%, #000000 100%);
  border: none;
  color: #ff9900; }

.btn.btn-warning.basic {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  background: linear-gradient(to top, #ffff66 0%, #ff9900 100%);
  width: 50%; }

.btn.btn-warning.basic3X {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  background: linear-gradient(to top, #ffff66 0%, #ff9900 100%);
  width: 33.5%; }

.btn-group {
  width: 100%; }

.further-headings {
  margin-top: 40px; }

.tab-content {
  overflow-y: scroll; }

.row.looping {
  padding: 25px 25px; }

.input-group-addon {
  background: linear-gradient(to bottom, #ffff66 0%, #ff9900 100%);
  border: 0; }

.row.looping {
  border-radius: 0;
  background: linear-gradient(to bottom, #404040 0%, #000000 100%);
  border: none;
  margin: 0 0px; }

.card-body.main {
  background: linear-gradient(to top, #404040 0%, #000000 100%); }

.card-body.other {
  background: linear-gradient(to bottom, #404040 0%, #000000 100%); }

.card-link {
  color: #ffffff; }

.card-title {
  color: #ff9900; }

.card-title:hover {
  color: #ff9900; }

.card-deck .card {
  border: 0px; }

.list-group-item.b1, .list-group-item.b2, .list-group-item.b3 {
  background: linear-gradient(to top, #404040 100%, #000000 100%); }

.external-container {
  width: 100%;
  float: left; }

.card {
  float: left;
  margin-left: 5px;
  margin-top: 5px; }

@media (min-width: 575px) and (max-width: 991px) {
  .card {
    width: 32.33%;
    margin-left: 5px;
    float: left; }

  .card-body.main {
    height: 400px; }

  .nav-item.nav-link {
    width: 10%; } }
@media (min-width: 992px) and (max-width: 2000px) {
  .card {
    width: 32.9%; } }

/*# sourceMappingURL=index.css.map */
